@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* ## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */

:root {
    --color1: hsl(225, 100%, 94%);
    --color2: hsl(223, 47%, 23%);
    --color3: hsl(224, 23%, 55%);
    --color4: hsl(225, 100%, 98%);
    --color5: hsl(245, 75%, 52%);
    --color6: hsl(245, 83%, 68%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/pattern-background-desktop.svg) no-repeat top/cover, var(--color1);
    font-family: 'Red Hat Display', cursive;
}

.container {
    position: absolute;
    width: 31.2%;
    background: white;
    height: 77.5vh;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    color: var(--color2);
    text-align: center;
    max-width: 100%;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.080);
    font-size: 1rem;
}

.img {
    background: url(/images/illustration-hero.svg) no-repeat center/cover;
    border-radius: 20px 20px 0% 0%;
    overflow: hidden;
    width: 100%;
    height: 31.5%;
}

.infos {
    margin: 45px 50px;
}

.title {
    font-weight: 900;
    font-size: 2rem;
}

.summary {
    padding: 20px;
    line-height: 1.5;
    color: var(--color3);
    font-weight: 500;
    font-size: 1rem;
}

.pricing {
    position: relative;
    background: var(--color4);
    height: 11.5vh;
    border-radius: 20px;
}

.music {
    position: absolute;
    top: 50%;
    transform: translate(-5%, -50%);
    background: url(/images/icon-music.svg) center no-repeat;
    width: 25%;
    height: 100%;
}

.annual-plan {
    position: absolute;
    top: 27.5%;
    left: 26%;
    font-weight: 900;
}

.current-price {
    position: absolute;
    bottom: 27.5%;
    left: 26%;
    color: var(--color3);
}

.change {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
    color: var(--color5);
    text-decoration: underline;
    font-size: 0.85rem;
    font-weight: 700;
}

.change:hover {
    color: var(--color6);
    cursor: pointer;
    text-decoration: none;
}

.payment {
    background-color: var(--color5);
    margin : 30px 0px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: .5px;
    box-shadow: 0px 20px 20px 0px hsla(245, 75%, 52%, 0.200);
}

.payment:hover {
    background-color: var(--color6);
    cursor: pointer;
}

.cancel {
    font-weight: 900;
    font-size: 0.85rem;
    color: var(--color3);
}

.cancel:hover {
    color: var(--color2);
    cursor: pointer;
}

.attribution {
    position: fixed;
    text-align: center;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    bottom: 0;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.080);
    padding: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and ( max-width: 1650px ) {
    .payment {
        margin : 20px 0px;
    }
}

@media screen and ( max-width: 1220px ) {

    .infos {
        margin: 25px 30px;
    }

   .container {
        width: 45%;
        height: 80vh;
    }
}

@media screen and ( max-width: 750px ) {
    .container {
        width: 60%;
        height: 85vh;
    }

    .payment {
        margin : 20px 0px;
    }

    .infos {
        margin: 25px 30px;
    }

    .annual-plan {
        top: 22.5%;
    }
    
    .current-price {
        bottom: 22.5%;
    }
}

@media screen and ( max-width: 550px ) {
    .container {
        width: 90%;
        height: 90vh;
    }

    .payment {
        margin : 15px 0px;
    }

    .infos {
        margin: 25px 30px;
    }

    .annual-plan {
        top: 20%;
    }
    
    .current-price {
        bottom: 20%;
    }
}

@media screen and ( max-width: 350px ) {
    .container {
        width: 90%;
        top: 70%;
        height: 110vh;
    }

    .payment {
        margin : 15px 0px;
    }

    .infos {
        margin: 25px 30px;
    }

    .annual-plan {
        top: 15%;
    }
    
    .current-price {
        bottom: 15%;
    }
}